* {
  box-sizing: border-box;
  }
*::before, *::after {
  box-sizing: border-box;
  }
html {
  --background: #e2dedef5;

  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  user-select: none;
  padding: 0;
  margin: 0;
  width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centering{
  width: 100px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;

  font-family: 'Lato Bold', sans-serif;
  font-weight: 700;
}

.container{
  /* background-color: ; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Lato Regular', sans-serif;
  font-weight: 400;
}
.limit{
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: solid;
}

.btn{
  /* opacity: 30%; */
  color: white;
  text-decoration: none;
  width: 100px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hardBtn{
  opacity: 30%;
}
.btn {
  /* opacity: 30%; */
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transition: transform 0.15s;
  transform-style: preserve-3d;
}
.btn::before {
  /* opacity: 30%; */
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #886976, 0 0.625em 0 0 #886976;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 0.15s, box-shadow 0.15s;
}

.btn:hover {
  background: #ffe9e9/*#886976*/;
  transform: translate(0, 0.25em);
}
.btn:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #886976;
  transform: translate3d(0, 0.5em, -1em);
}
.btn:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}
.btn:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}

.btnBox{
  width: 100px;
  height: 50px;
}

.score{
  margin: 19px 0px;
  margin-left: 10px;
  width: 150px;
}

.list{
  cursor: pointer;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.drop_down{
  position: absolute;
  top: 30px;
  left: 1300px;
  list-style: none;
  padding: 0;
  border: solid black 1.5px;
  border-radius: 10px;
  width: 300px;
  height: 120px;
  font-family: 'Lato Regular', sans-serif;
  font-weight: 400;
  font-weight: bolder;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  transform: translate(0px, -120%);
  opacity: 0;
  transition: all 0.4s ease 0s;
}

.list:hover .drop_down{
  transform: translate(0px, 0px);
  opacity: 1;
}

.phrase{
  font-family: 'Lato Bold', sans-serif;
  font-weight: 700;
  font-size: 30px;
  opacity: 30%;
}
.triangle{
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid black;
  border-bottom: 5px solid transparent;
  margin-right: 10px;

  transform: rotate(0deg );
  transition: all 0.3s ease-out;
}
.list:hover .triangle{
  transform: rotate(90deg); 
}

.easy:hover{
  color: green;
}

.easy:after {
  display: block;
  content: "";
  background-color: green;
  color: rgba(95, 88, 88, 0.603);
  height: 3px;
  width: 0%;
  left: 50%;
  position: absolute;

  transition: width .3s ease-in-out;
  transform: translateX(-50%);
}
.easy:hover:after,
.easy:focus:after {
  width:150px;
}

.medium:hover{
  color: rgb(255, 177, 59);
}

.medium:after {
  display: block;
  content: "";
  background-color: rgb(255, 177, 59);
  height: 3px;
  width: 0%;
  left: 50%;
  position: absolute;

  transition: width .3s ease-in-out;
  transform: translateX(-50%);
}
.medium:hover:after,
.medium:focus:after {
  width: 200px;
}

.hard:hover{
  color: rgb(255, 59, 59);
}

.hard:after {
  display: block;
  content: "";
  background-color: rgb(255, 59, 59);
  height: 3px;
  width: 0%;
  left: 50%;
  position: absolute;
  
  transition: width .3s ease-in-out;
  transform: translateX(-50%);
}
.hard:hover:after,
.hard:focus:after {
  width:130px;
}

.checkEasy{
  color: green;
  border-bottom: solid;
}
.checkMedium{
  color: rgb(255, 177, 59);
  border-bottom: solid;
}
.checkHard{
  color: rgb(255, 59, 59);
  border-bottom: solid;
}

#my-canvas{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: -10;
  visibility: hidden;
}

#my-canvas.activeConfetti{
  visibility: visible;
}

.popup-container{
  width: 500px;
  height: 200px;
  background-color: rgb(247, 210, 215);
  border-radius: 15px;
  padding: 40px 25px;
}
.popup {
  position:fixed;
  top:-100vh;
  left:0px;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  transition:top 0ms ease-in-out 300ms;
}
.popup.active {
  transition:top 0ms ease-in-out;
  top:0vh;
}
.popup .popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(1.2);
  width:400px;
  padding:20px 20px;
  opacity:0.5;
  transition:all 300ms ease-in-out;
}
.popup.active .popup-container {
  opacity:1;
  transform:translate(-50%,-50%) scale(1);
}
.popup .popup-container .popup-close {
  font-family: 'Lato Bold', sans-serif;
  font-weight: 700;
  width:150px;
  height:30px;
  background:greenyellow;
  text-align:center;
  border: 2px solid greenyellow;
  outline: none;
  border-radius: 10px;
  cursor:pointer;
}
.popup .popup-container .popup-close:hover{
  color: greenyellow;
  background: white;
  border: 2px solid greenyellow;
  outline: none;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
}
.popup .popup-container h1 {
  text-align:center;
  font-family: 'Lato Bold', sans-serif;
  font-weight: 700;
  color:#222;
}
.popup .popup-container p {
  text-align: center;
  font-family: 'Lato Bold', sans-serif;
  font-weight: 700;
  margin-top:10px;
  color:#555;
}